<div class="big-container d-flex align-items-center flex-column">

  <div class="icon-box d-flex align-items-center justify-content-between">
    <div class="icon-1-box d-flex align-items-center justify-content-center flex-column">
      <span class="b-fb text-center d-flex align-items-center justify-content-center">
        <%= link_to "https://www.facebook.com/bryan.wong.7564/", target:"_blank" do %>
          <i class="fa-brands fa-facebook fa-2xl"></i>
        <% end  %>
      </span>
      <p>Facebook</p>
    </div>

    <div class="icon-2-box d-flex align-items-center justify-content-center flex-column">
      <span class="b-linkedin text-center d-flex align-items-center justify-content-center">
        <%= link_to "https://www.linkedin.com/in/bryan-wong-a02648b4/", target:"_blank" do %>
          <i class="fa-brands fa-linkedin fa-xl"></i>
        <% end %>
      </span>
      <p>Linkedin</p>
    </div>

    <div class="icon-3-box d-flex align-items-center justify-content-center flex-column">
      <span class="b-github text-center d-flex align-items-center justify-content-center">
        <%= link_to "https://github.com/bryan9438", target:"_blank" do %>
          <i class="fa-brands fa-github fa-2xl"></i>
        <% end %>
      </span>
      <p>Github</p>
    </div>

    <div class="icon-4-box d-flex align-items-center justify-content-center flex-column">
      <span class="b-mail text-center d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-envelope fa-xl"></i>
      </span>
      <p>Mail</p>
    </div>
  </div>

  <div class="contact-info">
    <p class="mobile-no">+351 925206090</p>
    <p class="email-ac">bryan943@gmail.com</p>
    <p class="bday">8th March, 1994</p>
    <p class="hm-address">
      Rua do choupelo 677, C34, Vila Nova de Gaia, <br>
      Porto, Portugal
    </p>
  </div>

  <%= image_tag "ipad-contact.png", class:"ipad-contact" %>
  <%= image_tag "vertical-contact.png", class:"vertical-contact" %>
</div>
