<div class="contact-container">
  <%= image_tag "ipad-contact.png", class:"ipad-contact" %>
  <%= image_tag "vertical-ipad.png", class:"vertical-ipad" %>
  <div class="top-btn d-flex">
    <%= link_to "https://www.facebook.com/bryan.wong.7564/", target:"_blank" do %>
      <i class="fa-brands fa-facebook fa-2xl"></i>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/bryan-wong-a02648b4/", target:"_blank" do %>
      <i class="fa-brands fa-linkedin fa-2xl"></i>
    <% end %>

    <%= link_to "https://github.com/bryan9438", target:"_blank" do %>
      <i class="fa-brands fa-github fa-2xl"></i>
    <% end %>

    <%= link_to "#", target:"_blank" do %>
      <i class="fa-solid fa-envelope fa-2xl"></i>
    <% end  %>

  </div>
  <div class="info-container">
      <ul class="d-flex flex-column align-items-start">
          <li class="mobile">
              <p><span>Mobile:</span> +351 925206090</p>
          </li>
          <li class="email">
              <p><span>Email:</span> bryan9438@gmail.com</p>
          </li>
          <li class="birthday">
              <p><span>Birthday:</span> 8th March, 1994</p>
          </li>
          <li class="home">
              <p>
              <span>Home:</span>
              Rua do Choupelo 677, C34, 3 Dir Tras, <br>
              Vila Nova de Gaia, Porto, Portugal
              </p>
          </li>
      </ul>
  </div>
</div>
