<div class="ultra-container">
  <div class="d-flex align-items-center justify-content-center landscape-iphone-container">
    <%= image_tag "landscape-phone.png", class:"landscape-iphone" %>
    <%= image_tag "project-vertical-iphone.png", class:"vertical-iphone" %>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to "https://ema-project.herokuapp.com/users/sign_in", target:"_blank", class: "ema-link" do %>
            <%= image_tag "ema-logo.png", class:"d-block w-100 album-pics" %>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to "https://grab-me-gabrielcampos243.herokuapp.com/", target:"_blank", class: "grabme-link" do %>
            <%= image_tag "grabme2.png", class:"d-block w-100 album-pics" %>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= image_tag "popcorn-gif.png", class:"d-block w-100 album-pics" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div>
</div>
