<!DOCTYPE html>
<html>
  <head>
    <title>BryanPortfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div class="copy-right">
      <p>
        ©2022 Bryan Wong <br>
        All Rights Reserved
      </p>
    </div>

    <%= yield %>
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


    <script>
      $(document).ready(
             function() {
                 $(".hm-left-side").hide();
                 $(".hm-left-side").show("slide", { direction: "left" }, 1000);

                 $(".hm-right-side").hide();
                 $(".hm-right-side").show("slide", { direction: "right" }, 1000);

                 $(".ipad-abt, .centered").hide();
                 $(".ipad-abt, .centered").fadeIn(1500);

                 $(".contact-container").hide();
                 $(".contact-container").show("slide", { direction: "left" }, 1000);
                 
              const typed = new Typed("#typed", {
              strings:["Hello! My name is Bryan currently based in Reading, UK. I graduated from Torrens University, Sydney, Australia with a BA degree in Hospitality and Event Management. After a few years of working in the hospitality industry, I realised my passion is more towards web design and technology and therefore I’ve decided to join the Le Wagon Bootcamp to pursue further studies ! Although the coding Bootcamp only lasted for 10 weeks, during this amazing and intensive journey I have learned a lot including the fundamentals of HTML, CSS, javascript, bootstrap, SQLite, Figma, ruby on rails, and last but not least using Heroku to deploy our projects. Never the less, I have also pursue further studies in jQuery and React with Coursera to prepare myself into the industry."],
              typeSpeed: 50,
              loop: false
              });
         });
    </script>
</html>
